html {
    background: url(../Images/background.jpg);
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }
  
  header {
    color: #c2ae94;
    background-color: #0e0c0b;
    font-family: "roboto serif", "serif";
  }
  
  .search-container {
    background-color: #0e0c0b;
  }